*{
    margin: 0;
    box-sizing: border-box;
}

body{
    padding-top: 60px;
}


[mode="light"]{
    --nav-color: darkblue;
    --links-color: burlywood;
    --primary-color: burlywood;
    --secondary-color: white;
    --bg-color: white;
    --text-color: black;
    --border-color:black;
    --proback-color:white;
    --header-color: darkblue;
}

[mode="dark"]{
    --nav-color: burlywood;
    --links-color: darkblue;
    --primary-color: black;
    --secondary-color: burlywood;
    --bg-color: black;
    --text-color: white;
    --border-color:burlywood;
    --proback-color:darkblue;
    --header-color: black;
}



nav{
    position: fixed;
    top: 0;
    height: 60px;
    width: 100vw;
    background-color:var(--nav-color);
    color: var(--links-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    z-index: 1000;
}

a{
    text-decoration: none;
}

.links{
    display: flex;
    align-items: center;
}

.links a{
    color: var(--links-color);
    padding: 10px;
    transition: 1s;
}

.links a:hover{
    font-size: 20px;
}

.changeMode{
    cursor: pointer;
    border: 1px solid var(--links-color);
    outline: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--bg-color);
    color: var(--nav-color);
    transition: 1s;
}

.changeMode:hover{
    background-color: transparent;
    color: var(--bg-color);
}


/* Scroll bar */

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--nav-color);
    border-radius: 10px;
}