body{
    background-color: var(--bg-color);
}

.container{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form input{
    outline: none;
    border: none;
    background-color: transparent;
    border: 10px;
    padding: 5px 10px;
    border-bottom: 2px solid var(--nav-color);
    color: var(--text-color);
}

form button{
    padding: 10px 20px;
    outline: none;
    border: 1px solid var(--nav-color);
    background-color: var(--nav-color);
    color: var(--links-color);
    border-radius: 5px;
    cursor: pointer;
}

form a{
    padding: 10px 30px;
    outline: none;
    cursor: pointer;
}

.regTolog{
    padding: 10px 70px;
    outline: none;
    cursor: pointer;
}